
body{
    font-family: 'Cormorant Infant', serif;
    background: #fbfbfb;
}

.container{
    max-width: 80%;
}

/*header*/


/*nav*/

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 1.5rem 1rem;
    background-color: transparent;
}

.navbar-brand img{
    width: 255px;
}

.fa-whatsapp{
    font-size: 2.4rem;
    font-weight: 500;
    color: #1bb13d;
    float: left;
}

.fa-whatsapp:hover{
    color: #0f4f5b;
}

.icon-main i:hover{
    color: #1f95aba1;
    cursor: pointer;
}

.number{
    float: right;
    margin-left: 10px;
    font-weight: bold;
    font-family: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(26, 82, 93);
    font-size: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
    font-weight: 600;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
    font-weight: 600;
}

/*main*/

.bg-transparent {
    background-color: #343a4000!important;
}

.jumbotron {
    padding: 14rem 0 8rem 0;
    background-color: #16afbf14;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.bg-display{
    width: 100%;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.display-title a{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    color: #393a3a;
}
.display-title a:hover{
    text-decoration: none;
    color: #0f4f5b;
}

.display-subtitle{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    color: rgb(62, 61, 61);
}

.btn-action {
    color: #fff;
    background-color: #1f95ab;
    border-color: #1f95ab;
}

.btn-action:hover{
    color: #0f4f5b;
    background-color: white;
    border-color: #0f4f5b;
}

.margin-action{
    margin: 1.5rem 0;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 1rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 5rem;
}

/*tend*/
.bg-contact-main{
    width: 100%;
    background-color: #1f95ab0f;
    padding: 2rem 0;
}

.icon-main i{
    color: #1f95ab;
    font-size: 1.4rem;
}

.title-contact{
    color: #393a3a;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1rem;
}

.subtitle-contact{
    color: #393a3a;
    font-size: 1.4rem;
    font-weight: 600;
}

.text-muted-contact{
    color: #6c757d;
    font-size: 1.2rem;
}

.hr-color{
    border-top: 1px solid rgb(31, 149, 171);
}

/*about*/

.term-about{
    font-size: 2.5rem;
    font-weight: 600;
    color: #393a3a;
}

.border-title-about{
    width: 12%;
    border: 1px solid #1f95ab;
}

.card {
    border: 0;
    background-color: #fbfbfb;
}

.card-about img{
    width: 368px;
    margin: 0 auto;
}

.box-play{
    width: 200px;
    height: 200px;
    background-color: #6c757d;
}

.bg-about{
    width: 100%;
    height: 50px;
    background-color: #f2f9fa;
}

.icon-about i{
    font-size: 1.6rem;
    color: #1f95ab;
    float: left;
    margin-right: 15px;
}

.icon-about i:hover{
    color: #1f95aba1;
    cursor: pointer;
}

.padding-about{
    padding: 0.5rem 1.5rem;
}

.title-about{
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.subtitle-about{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #4a4a4a;
}

.margin-about{
    margin: 1.5rem 0;
    color: #676666;
}

.items-about{
    font-size: 1.4rem;
}

/*blog*/

.term-blog {
    font-size: 2rem;
    font-weight: 600;
    color: #393a3a;
}

.border-title-blog{
    width: 4%;
    border: 1px solid #1f95ab;
    margin-bottom: 2rem;
}

.top-card-footer-blog{
    margin-top: 105%;
}

.btn-blog{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5rem;
}

.btn-blog:hover{
    cursor: pointer;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.74);
    border-top: 1px solid rgba(0,0,0,.125);
}

.title-blog a{
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: white;
}

.title-blog a:hover{
    color: #bdbaba;
    text-decoration: none;
}

.icon-hours{
    font-size: 0.8rem;
    color: #cececed9;
    margin-top: 10px;
}

.card-blog{
    background-color: black;
}

.card-blog img{
    opacity: 0.8;
}

.btn-blog-right{
    padding: 0.4rem 2rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 5rem;
}

.btn-blog-right:hover{
    cursor: pointer;
}

.title-blog-right a{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: bold;
    color: black;
    padding: 1rem 0;
}

.title-blog-right a:hover{
    color: #626262;
    text-decoration: none;
}

.icon-hours-right{
    font-size: 0.8rem;
    color: #54808ade;
}

.slick-prev{
    display: none !important;
}

.slick-next{
    display: none !important;
}

.slick-initialized .slick-slide{
    margin-right: 2rem !important;
}

/*separator*/

.separator{
    width: 100%;
    background-color: #034F5B;
    margin: 5rem 0;
}

.separator img{
    width: 132px;
    margin: 2rem 0;
}

.title-separator{
    margin: 2.8rem 0 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 100;
    color: #ffffffb8;
}

.subtitle-separator{
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: white;
}

.separator-whats{
    margin: 4rem 0;
    font-size: 1rem;
    color: white;
}

.separator-whats i{
    font-size: 2.4rem;
    margin-right: 10px;
}

.number-separator{
    margin-left: 30px;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
}

a:hover{
    text-decoration: none;
}

/*vlog*/

.jumbotron-vlog {
    padding: 2rem 0;
    background-color: #16afbf14;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    margin-top: 2rem;
}

.btn-outline-secondary {
    color: #212529;
    border-color: #1f95ab;
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    color: #1f95ab;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dots{
    bottom: -30px;
}

/*faq*/

.icon-duvida img{
    width: 50px;
}

.title-duvida{
    font-size: 2.2rem;
    font-weight: bold;
    color: #0A0B0B;
}

.subtitle-duvida{
    font-size: 1.3rem;
    color: rgb(62, 61, 61);
}

.btn-success {
    color: #fff;
    background-color: #034f5b;
    border-color: #034f5b;
}

.btn-success a{
    color: white;
}

.btn-success:hover{
    border-color: #034f5b;
    color: #034f5b;
    background-color: white;
}

.btn-success a:hover{
    color: #034f5b;
}

.btn-success:hover {
    color: #034f5b;
    background-color: #fff;
    border-color: #034f5b;
    cursor: pointer;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .65rem 2.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.icon-faq{
    font-size: 1rem;
    font-weight: 500;
}

.icon-faq i {
    font-size: 1.2rem;
    font-weight: 500;
    color: #17899f;
    margin-right: 5px;
}

.faq-question-q-box img{
    width: 50px;
}

.faq-answer img{
    width: 25px;
    float: left;
    margin-right: 20px;
}

.text-body {
    color: #212529!important;
    font-weight: 600;
}

.faq-answer{
    font-size: 1.3rem;
}

.btn-link {
    font-weight: 600;
    color: #034f5b;
    text-decoration: none;
    font-size: 1.6rem;
}

.btn-link:hover{
    color: #17899f;
}

.accordion>.card .card-header {
    margin-bottom: 10px;
}

.card-header:hover{
    cursor: pointer;
}

/*contact*/

.contact-home{
    margin-top: 4rem;
}

.contact-term {
    font-size: 4rem;
    font-family: fantasy;
    margin-bottom: 0.5rem;
}

.border-line-contact {
    border: 1px solid;
    width: 18%;
    margin: 0.5rem 0 2rem 0;
    color: #037400;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 1.4rem);
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f5f5f5;
    background-clip: padding-box;
    border: 1px solid #ced4da6b;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.icon-contact i {
    color: #28a745;
    font-size: 1.5rem;
}

.title-contact-final{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    color: #464748;
}

.btn-primary-contact {
    border-radius: 5rem;
    padding: 0.9rem 8rem;
    font-size: 1.2rem;
    color: white;
    background-color: #037400;
    font-weight: 500;
    border-color: transparent;
    margin-top: 2rem;
    text-transform: uppercase;
}

.featurette-about {
    font-size: 1.6rem;
    margin: 2rem 0 1rem 0;
}
.featurette-about i{
    color: #037400;
}

.lead-about {
    font-size: 1.03rem;
}

.btn-digital-about {
    color: #fff;
    background-color: #037400;
    border-color: #007bff00;
    border-radius: 5rem;
    font-size: 1rem;
    padding: 10px 2.5rem;
    margin-top: 1rem;
}

.border-title-contact {
    width: 6%;
    border: 1px solid #1f95ab;
    margin: 0 auto;
}

.btn-group-lg>.btn, .btn-contact {
    padding: 1rem 8rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 5rem;
    margin-top: 1.5rem;
}

.lead {
    font-size: 1.3rem;
    color: rgb(62, 61, 61);
    font-weight: 300;
    margin: 1.5rem 0;
}

/*footer*/

.border-title-location {
    width: 10%;
    border: 1px solid #1f95ab;
    margin-bottom: 2rem;
}

.location{
    width: 100%;
    height: auto;
}

.location iframe{
    width: 100%;
    height: 350px;
}

footer ul li a i{
    font-size: 1.4rem;
    font-weight: 500;
    color: #1f95ab;
    float: left;
}

.copy{
    color: #4a4a4a;
    font-size: 1.2rem;
    font-weight: 600;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.item-footer-bold{
    font-size: 1.3rem;
    font-weight: 700;
    color: #393a3a;
}

footer ul li a{
    color: #393a3a;
    font-size: 1.2rem;
    font-weight: 400;
}

/*@media*/

@media (max-width: 1630px) {
    .term-about{
    }
    .title-about{
    }
    .subtitle-about {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .items-about {
        font-size: 1.3rem;
    }
    .top-card-footer-blog {
        margin-top: 100%;
    }
    .title-blog a {
        font-size: 1.2rem;
    }
    .title-blog-right a{
        font-size: 1.3rem;
        padding: 0.5rem 0;
    }
}

@media (max-width: 1600px) {
    .card-about img {
        width: 390px;
    }
    .subtitle-about {
        font-size: 1.45rem;
    }
    .title-blog-right a{
        padding: 0.5rem 0;
    }
    .separator-whats i {
        font-size: 2rem;
    }
}

@media (max-width: 1555px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.25rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    .title-contact {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 2rem;
    }
    .subtitle-contact {
        font-size: 1.2rem;
    }
}

@media (max-width: 1470px) {
    .subtitle-contact{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .text-muted-contact{
        font-size: 1rem;
    }
    .items-about {
        font-size: 1.2rem;
    }
    .top-card-footer-blog {
        margin-top: 85%;
    }
    .title-blog a{
        line-height: 1rem;
    }
    .icon-hours {
        font-size: 0.6rem;
        margin-top: 5px;
    }
    .title-blog-right a{
        font-size: 1.4rem;
    }
    .icon-hours-right {
        font-size: 0.6rem;
    }
    .btn-blog {
        padding: 0.4rem 1.6rem;
        font-size: 0.85rem;
    }
    .btn-blog-right {
        padding: 0.3rem 1.4rem;
        font-size: 0.7rem;
    }
    .separator-whats i {
        font-size: 1.8rem;
        margin: 0 5px 0 0;
    }
    .title-separator{
        font-size: 1rem;
    }
    .subtitle-separator{
        font-size: 1.4rem;
    }
    .number-separator {
        font-size: 1.3rem;
    }
    footer ul li a{
        font-size: 1.1rem;
    }
    .fa-whatsapp {
        font-size: 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.2rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
    }
    .title-contact {
        font-size: 1.5rem;
        line-height: 1.6rem;
        margin-top: 1rem;
    }
}

@media (max-width: 1372px) {
    .nav-link {
        font-size: 1.3rem;
    }
    .fa-whatsapp {
        font-size: 2rem;
    }
    .display-title a{
        font-size: 3.6rem;
        line-height: 3.8rem;
    }
    .display-subtitle {
        font-size: 1.4rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
    .title-contact {
        font-size: 1.4rem;
    }
    .subtitle-contact {
        font-size: 1.1rem;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.8rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 5rem;
    }
}

@media (max-width: 1340px) {
    .title-blog a{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .title-blog-right a{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .btn-group-lg>.btn, .btn-contact {
        padding: 0.8rem 6rem;
    }
    .card-img-overlay {
        padding: 0.25rem;
    }
}

@media (max-width: 1270px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.1rem;
    }
    .display-title a{
        font-size: 3.2rem;
    }
    .title-about {
        font-size: 2.6rem;
    }
    .top-card-footer-blog {
        margin-top: 95%;
    }
}


@media (max-width: 1230px) {
    .navbar-brand img {
        width: 240px;
    }
    .navbar-dark .navbar-nav .nav-link {

    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .display-title a{
        font-size: 3rem;
    }
}

@media (max-width: 1170px) {
    .title-blog-right a{
        font-size: 0.9rem;
    }
    .title-about {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1160px) {
    .subtitle-contact {
        font-size: 1.1rem;
    }
    .icon-main i {
        margin-top: 1rem;
    }
    .icon-about i {
        font-size: 1.4rem;
    }
    .items-about {
        font-size: 1rem;
    }
    .card-about img {
        width: 380px;
    }
    .term-about {
        font-size: 1.8rem;
    }
    .border-title-about {
        width: 22%;
    }
    .separator-whats i {

    }
    .separator img {
        width: 120px;
    }
    .subtitle-about {
        font-size: 1.25rem;
    }
    .card-about img {
        width: 355px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 1120px) {
    .display-title a{
        font-size: 3rem;
        line-height: 3rem;
    }
    .fa-whatsapp {
        font-size: 1.8rem;
    }
    .display-subtitle {
        font-size: 1.1rem;
    }
    .subtitle-contact {
        font-size: 1.05rem;
    }
    .title-about {
        font-size: 2.2rem;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.8rem 1.4rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 1050px) {
    .display-title a{
        font-size: 2.8rem;
        line-height: 3rem;
    }
    .fa-whatsapp {
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 90%;
    }
    .jumbotron {
        padding: 10rem 0 2rem 0;
    }
    .navbar-toggler i{
        font-weight: 900;
        font-size: 2rem;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(31, 150, 172, 0.81);
        border: 0;
    }
    .margin-action {
        margin: 1rem 0;
    }
    .fa-whatsapp {
        font-size: 1.8rem;
        margin-right: 5px;
    }
    .fa-whatsapp-mobile{
        color: #393a3a;
        font-weight: 600;
    }
    .title-contact{
        text-align: center;
    }
    .subtitle-contact{
        text-align: center;
    }
    .icon-about i {
        font-size: 1.3rem;
    }
    .margin-about {
        margin: 1rem 0;
    }
    .title-duvida {
        font-size: 2rem;
    }
    .faq-question-q-box img {
        width: 40px;
    }
    footer img{
        width: 300px;
        height: auto;
    }
    .h4, h4 {
        font-size: 1.3rem;
    }
    .faq-answer {
        font-size: 1.2rem;
    }
    .title-about {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 990px) {
    .subtitle-contact{
        font-size: 1.1rem;
    }
    .title-about {
        font-size: 1.8rem;
    }
    .subtitle-about {
        font-size: 1.05rem;
    }
    .margin-about {
        margin: 1.2rem 0;
    }
    .items-about {
        font-size: 0.9rem;
    }
    .icon-about i {
        font-size: 1.2rem;
        margin-top: 8px;
    }
    .subtitle-separator {
        line-height: 1.8rem;
    }
    .subtitle-duvida {
        font-size: 1.1rem;
    }
    .navbar-collapse {
        background-color: white;
    }
}

@media (max-width: 968px) {
    .top-card-footer-blog {
        margin-top: 85%;
    }
}

@media (max-width: 912px) {
    .title-about {
        font-size: 1.6rem;
    }
    .subtitle-about {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .margin-about {
        margin: 1rem 0;
    }
    .subtitle-separator {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .jumbotron {
        padding: 8rem 0 0 0;
    }
    .display-title a{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .display-subtitle {
        font-size: 1rem;
    }
    .margin-action {
        margin: 1rem 0;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    .title-about {
        font-size: 1.8rem;
        line-height: 1.1;
    }
    .subtitle-about {
        font-size: 1.1rem;
    }
    .disable-item-tablet{
        display: none;
    }
    .btn-blog {
        font-size: 0.7rem;
    }
    .title-blog a{
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    .title-blog-right a{
        font-size: 0.75rem;
        line-height: 1.1rem;
    }
    .lead {
        font-size: 1rem;
    }
    .subtitle-contact {
        font-size: 1rem;
        margin-top: 10px;
    }
    .number-separator {
        font-size: 1rem;
    }
    footer img{
        width: 300px;
        height: auto;
    }
    .slick-dots li.slick-active button:before {
        font-size: 8px;
    }
    .slick-dots li button:before {
        font-size: 8px;
    }
    .h4, h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 422px) {
    .bg-transparent {
        background-color: white !important;
    }
    .navbar {
        padding: 0.4rem 0;
    }
    .navbar-collapse {
        margin-top: 14px;
    }
    .jumbotron {
        padding: 10rem 0 4rem 0;
    }
    .bg-display {
        background-position: 65% 50%;
    }
    .display-title{
        padding: 0 8rem 0 0;
        line-height: 2.5rem;
    }
    .display-title a{
        font-size: 2.2rem;
    }
    .display-subtitle {
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0 8rem 0 0;
    }
    .title-about {
        font-size: 2rem;
        margin-top: 10px;
    }
    .padding-about{
        padding: 0;
        margin-top: 20px;
    }
    .bg-about {
        height: 25px;
    }
    .card-about img{
        width: 100%;
    }
    .border-title-blog {
        width: 15%;
    }
    .card{
        margin-bottom: 2rem;
    }
    .top-card-footer-blog {
        margin-top: 100%;
    }
    .btn-blog {
        padding: 0.5rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 5rem;
    }
    .title-blog a{
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .disable-item-tablet{
        display: block;
    }
    .btn-blog-right {
        padding: 0.4rem 2rem;
        font-size: 0.8rem;
        line-height: 1.5;
        border-radius: 5rem;
    }
    .icon-hours {
        font-size: 0.8rem;
        margin-top: 10px;
    }
    .term-blog {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .title-blog-right a{
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: bold;
        color: black;
        padding: 1rem 0;
    }
    .icon-hours-right {
        font-size: 0.8rem;
    }
    .separator{
        text-align: center;
    }
    .separator img {
        margin: 1rem 0;
    }
    .title-separator {
        margin: 1rem 0 0.5rem 0;
    }
    .separator-whats {
        margin: 2rem 0;
    }
    .separator-whats .fa-whatsapp{
        float: none;
    }
    .number-separator{
        margin: 0;

    }
    footer img{
        width: 250px;
        height: auto;
    }
    .title-duvida {
        font-size: 1.8rem;
    }
    .items-about {
        font-size: 1.1rem;
    }
    .faq-answer {
        font-size: 1.1rem;
    }
    .btn-group-lg>.btn, .btn-contact {
        padding: 0.8rem 4.5rem;
        font-size: 1rem;
    }
    .mt-sm-item-footer{
        margin-top: 1.5rem !important;
    }
    .copy{
        font-size: 1rem;
    }
    .title-contact {
        font-size: 1.4rem;
    }
    .btn-link {
        font-size: 1.2rem;
    }
    .h4, h4 {
        font-size: 1.2rem;
    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.8rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 5rem;
    }
    .subtitle-contact {
        font-size: 1.2rem;
    }
    .jumbotron-vlog {
        margin-top: 2rem;
    }
    .faq-question-q-box img {
        width: 30px;
    }
    .lead {
        font-size: 1.2rem;
    }
    .slick-initialized .slick-slide {
        margin-right: 0 !important;
    }
}

@media (max-width: 380px) {
    .navbar-brand img {
        width: 195px;
    }
    .term-blog {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    .title-blog a{
        font-size: 1.25rem;
        line-height: 1.4rem;
    }
    .btn-blog {
        padding: 0.4rem 1.6rem;
        font-size: 0.75rem;
    }
    .top-card-footer-blog {
        margin-top: 98%;
    }
    .btn-blog-right {
        padding: 0.3rem 1.4rem;
        font-size: 0.7rem;
    }
    .title-blog-right a{
    }
    .icon-hours-right {
        font-size: 0.6rem;
    }
    .title-duvida {
        font-size: 1.6rem;
    }
    .h4, h4 {

    }
    .icon-faq {
        font-size: 0.8rem;
    }
    .form-control{
        font-size: 1rem;
    }
    .btn-group-lg>.btn, .btn-contact {
        padding: 0.7rem 4rem;
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    .title-blog a{
        font-size: 1rem;
        line-height: 1rem;
    }
    .title-blog-right a{
        font-size: 1.3rem;
    }
}

@media (max-width: 322px) {
    .navbar-brand img {
        width: 175px;
    }
    .navbar-toggler i {
        font-size: 1.6rem;
    }
    .display-title {
        padding: 0 5rem 0 0;
        line-height: 2.5rem;
    }
    .display-title a{
        font-size: 1.6rem;
    }
    .display-subtitle {

    }
    .btn-group-lg>.btn, .btn-lg {
        padding: 0.7rem 2rem;
        font-size: 0.8rem;
    }
    .fa-whatsapp {
        font-size: 1.5rem;
        margin-right: 5px;
    }
    .fa-whatsapp-mobile {
        font-size: 0.8rem;
    }
    .jumbotron {
        padding: 8rem 0 2rem 0;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1rem;
    }
    .title-about {
        font-size: 1.6rem;
    }
    .subtitle-about {
        font-size: 1rem;
    }
    .top-card-footer-blog {
        margin-top: 92%;
    }
    .btn-group-sm>.btn, .btn-sm {
        padding: .45rem 2rem;
        font-size: 0.8rem;
    }
    .icon-faq i {
        font-size: 1rem;
    }
    .title-contact {
        font-size: 1.4rem;
    }
    .subtitle-contact {
        font-size: 1.1rem;
    }
    .faq-answer {
        font-size: 0.95rem;
    }
    .h4, h4 {
        font-size: 1.2rem;
    }
    .fa-whatsapp-mobile {
        color: #000000;
        font-weight: bold;
    }
}
